body{
    /* background  */
    width: 100%;
  height: 100%;

  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);

  /* positioning */
  display: flex;
  justify-content: center;
  align-items: center;
min-height: 90vh;
 
  
}

.player{
    width: 60%;
    background-color: transparent;
    height:auto;
    z-index: 1000;
    position: absolute;
    /* border: 4px solid white; */
    border-radius: 1rem;
    margin: 0;
    padding: 0;
}

.player video{
    position: relative;
    width: 100%;
    height:100%;
    border-radius: 1rem;
    margin: 0;
    cursor: pointer;
    
}

.show-controls{
    background-color: rgba(130, 0, 0, 0);
    display: flex;
    position: absolute;
   bottom: 0.7rem;
   height: 35%;
   align-items: end;
   justify-content: center;
   width: 100%;
   
   

   
}

.control-container{
    border-radius: 1rem;
    position: relative;
    background-color: rgba(0, 0, 0, 0.623);
    padding: 1rem 1rem;
    padding-right: 1.5rem;
    width: 90%;
    height: 10%;
    padding-bottom: 2rem;
    opacity: 0;
    transition: all 0.5s ease-out 2s;
}

.show-controls:hover .control-container{
    opacity: 1;
    transition: all 0.2s ease-out;
   
}


.progress-range{
    background-color: rgba(255, 255, 255, 0.232);
    width: 100%;
    height: 0.3rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    
}
.progress-range:hover .progress-bar{
    height: 0.32rem;
    background-color: rgb(73, 105, 136);
}

.progress-bar{
    width: 90%;
    height: inherit;
    background-color: rgba(240, 248, 255, 0.621);
    border-radius: 1rem;
}



.control-group{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
}

.controls-right{
    display: flex;
    gap: 5%;
}

.controls-left{
    display: flex;
    gap: 0.6rem;
}

.play-controls{
    display: flex;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  
}

.volume-icon{
    display: flex;
}

.volume-range{
    background-color: rgba(205, 205, 205, 0.416);
    width: 4rem;
    height: 0.3rem;
    border-radius: 1rem;
}

.volume-bar{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 0.3rem;
    border-radius: 1rem;
}


/* left contronls */
.time{
    display: flex;
    color: white;
    font-size: smaller;
}

.volume-icon, .fa-play, .fa-expand, .fa-pause{
    color: aliceblue;
    cursor: pointer;
}


/* speed */
.speed{

}

select{
    background-color: transparent;
border: none;
color: white;
}

option{
    color: #000000;
}

select:focus{
    outline: none;
}

select, option{

}


@media screen and (max-width:600px) {
    .player{
       
        width: 90%;
       
    }
    
}